<div class="row">
	<div class="span10 offset1">
		<div class="dropdown pull-right">
		  <%= @user.email %> | 
		  <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
		    account
		    <b class="caret"></b>
		  </a>
		  <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
		    <li><%= link_to 'my profile', profile_user_path(@user) %></li>
		    <li><%= link_to 'logout', logout_path %></li>
		  </ul>
		</div>
		
	</div>
</div>


<div class="row">
	<div class="span10 offset1">
		<h1>Rejections</h1>
		<p class='lead'>
			Did you get rejected today?
		</p>
		<hr />

		<%# @all_rejections %>

		<% @all_rejections.reverse_each do |a| %>

			<div class="answer_box">
				<% if a['date'].to_date != @current_read_date %>
					<p class="lead small answer_date blue">
						<%= a['date'].to_datetime.strftime('%A, %b %e') %>
					</p>
					<% @current_read_date = a['date'].to_date %>
				<% end %>
				
				<p class="answer_email">
					<% if a['user_email'] == @user.email %>
						<span class="lead smaller green"><%= a['user_email'] %>:</span>
					<% else %>
						<span class="lead smaller muted"><%= a['user_email'] %>:</span>
					<% end %>
				</p> 
				
				<p class="lead answer">
					<%= a['answer'] %>
				</p>
			</div>
		<% end %>

	</div>
</div>
