<div class="row">
	<div class="span10 offset1">
		<div class="dropdown pull-right">
		  <%= @user.email %> | 
		  <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
		    account
		    <b class="caret"></b>
		  </a>
		  <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
		    <li><%= link_to 'my profile', profile_user_path(@user) %></li>
		    <li><%= link_to 'logout', logout_path %></li>
		  </ul>
		</div>
		
	</div>
</div>


<div class="row">
	<div class="span10 offset1">
		<h1>Rejections</h1>
		<p class='lead'>
			Did you get rejected today?
		</p>
		<hr />

		<%# @all_rejections %>

		<% @all_rejections.reverse_each do |a| %>

			<div class="answer_box">
				<% if a['date'].to_date != @current_read_date %>
					<p class="lead small answer_date blue">
						<%= a['date'].to_datetime.strftime('%A, %b %e') %>
					</p>
					<% @current_read_date = a['date'].to_date %>
				<% end %>
				
				<p class="answer_email">
					<% if a['user_email'] == @user.email %>
						<span class="lead smaller green"><%= a['user_email'] %>:</span>
					<% else %>
						<span class="lead smaller muted"><%= a['user_email'] %>:</span>
					<% end %>
				</p> 
				
				<p class="lead answer">
					<%= a['answer'] %>
				</p>
			</div>

			<div class="comments_box">
				<% comments = Comment.where(answer_id: a['id']) %>
				<% comments.each do |comment| %>
					<div class="show_comments">
						<span class="comment_user muted lead smallest"><%= comment.user.email %> said... </span>
						<span class="comment_body lead smaller"><%= comment.body %></span>
						<% if comment.user_id == @user.id %>
							<%= link_to comment_path(:id => comment.id, :user_id => @user.id), :confirm => 'Are you sure?', :method => :delete, :class => 'muted' do %>
	              <span class="comment_remove"><i class="icon-remove"></i></span>
	            <% end %>
	          <% end %> 
					</div>
				<% end %>

				<div class="add_new_comment">
					<%= form_tag(comments_path, :id => "NewComment") do %>
						<input type="hidden" name="answer_id" value=<%= a['id'] %> />
						<input type="hidden" name="user_id" value=<%= @user.id %> />
					  <textarea name="body" type="text" class="comment_body_input" autocomplete="off" ></textarea>
					  <button type="submit" id="" class="btn btn-small submit_comment hidden">add comment</button>
					<% end %>
				</div>
			</div>
		<% end %>

	</div>
</div>
